<!-- src/main/resources/templates/adicionarProduto.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="#{produto.criar}">Adicionar Produto</title>
</head>
<body>
<h2 th:text="#{produto.criar}">Adicionar Produto</h2>

<form th:action="@{/produtos/adicionar}" th:object="${produto}" method="post">
  <label for="nome" th:text="#{produto.nome}">Nome:</label>
  <input type="text" id="nome" th:field="*{nome}" />
  <span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>

  <label for="descricao" th:text="#{produto.descricao}">Descrição:</label>
  <input type="text" id="descricao" th:field="*{descricao}" />
  <span th:if="${#fields.hasErrors('descricao')}" th:errors="*{descricao}"></span>

  <label for="preco" th:text="#{produto.preco}">Preço:</label>
  <input type="text" id="preco" th:field="*{preco}" />
  <span th:if="${#fields.hasErrors('preco')}" th:errors="*{preco}"></span>

  <button type="submit" th:text="#{produto.criar}">Adicionar</button>
</form>

<p><a th:href="@{/produtos/listar}" th:text="#{produto.listar}">Voltar para a lista de produtos</a></p>
</body>
</html>
