<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="#{label.productList}">Product List</title>
</head>
<body>
<h1 th:text="#{label.productList}">Product List</h1>
<div>
    <a th:href="@{/produto/novo}" th:text="#{label.addNewProduct}">Add New Product</a>
</div>
<table>
    <thead>
    <tr>
        <th th:text="#{label.id}">ID</th>
        <th th:text="#{label.nome}">Name</th>
        <th th:text="#{label.descricao}">Description</th>
        <th th:text="#{label.preco}">Price</th>
        <td th:text="${label.dataCadastro}">Date</td>
        <th th:text="#{label.actions}">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="produto : ${produto}">
        <td th:text="${produto.id}">ID</td>
        <td th:text="${produto.nome}">Name</td>
        <td th:text="${produto.descricao}">Description</td>
        <td th:text="${produto.preco}">Price</td>
        <td th:text="${produto.dataCadastro}">Date</td>
        <td>
            <a th:href="@{/produto/editar/{id}(id=${produto.id})}" th:text="#{label.edit}">Edit</a>
            <a th:href="@{/produto/deletar/{id}(id=${produto.id})}" th:text="#{label.delete}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
